@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&family=Big+Shoulders+Display:wght@600&family=Josefin+Sans:wght@400;600&family=Karla:wght@500&family=Kumbh+Sans:wght@500;600&family=Lexend+Deca:wght@400;500&family=Lexend:wght@500&family=Manrope:wght@300;500&family=Open+Sans:wght@600&family=Outfit:wght@400;500&family=Overpass:wght@500;600&family=Poppins:wght@200;600&family=Roboto:wght@500&family=Rubik&display=swap");
:root {
  --Soft_red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --Dark_desaturated_cyan: hsl(167, 40%, 24%);
  --Dark_blue: hsl(198, 62%, 26%);
  --Dark_moderate_cyan_footer: hsl(169, 42%, 62%);
  --Very_dark_desaturated_blue: hsl(212, 27%, 19%);
  --Very_dark_grayish_blue: hsl(213, 9%, 39%);
  --Dark_grayish_blue: hsl(232, 10%, 55%);
  --Grayish_blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
}

*,
*::before,
* ::after {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden;
}

body header.header--area {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/desktop/image-header.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  position: relative;
}

body header.header--area .header--text {
  position: absolute;
  top: 10rem;
  left: 35%;
  color: var(--White);
}

body header.header--area .header--text h2 {
  margin-top: 4rem;
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: 4px;
}

body header.header--area .arrow--area {
  position: absolute;
  top: 25rem;
  left: 48%;
}

body header.header--area .hamburger {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
}

body header.header--area nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2rem;
}

body header.header--area nav ul.nav--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

body header.header--area nav ul.nav--items li:not(:last-child) {
  margin-right: 1rem;
}

body header.header--area nav ul.nav--items li:not(:last-child) a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 800;
  text-transform: capitalize;
}

body header.header--area nav ul.nav--items li:last-child {
  background-color: var(--White);
  padding: 1rem;
  border-radius: 40px;
}

body header.header--area nav ul.nav--items li:last-child a {
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
  color: #000;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
}

@media (max-width: 600px) {
  body header.header--area {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/mobile/image-header.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    position: relative;
  }
  body header.header--area .header--text {
    position: absolute;
    top: 10rem;
    left: 22%;
    color: var(--White);
  }
  body header.header--area .header--text h2 {
    margin-top: 4rem;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 4px;
  }
  body header.header--area .arrow--area {
    position: absolute;
    top: 25rem;
    left: 48%;
  }
  body header.header--area .hamburger {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: block;
    z-index: 1000;
  }
  body header.header--area nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem 2rem;
  }
  body header.header--area nav ul.nav--items {
    display: none;
    height: 100vh;
    z-index: 100 !important;
    position: absolute;
    top: 0rem;
    right: -20px;
    background-color: blue;
    padding: 0rem 6rem;
  }
  body header.header--area nav ul.nav--items li {
    padding: 6rem 0;
    font-size: 1.6rem;
  }
  body header.header--area nav ul.nav--items li:last-child {
    background: transparent;
    padding: 6rem 0;
  }
  body header.header--area nav ul.nav--items li:last-child a {
    color: white;
  }
}

body section.content--one,
body section.content--two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body section.content--one .text-area,
body section.content--one img,
body section.content--two .text-area,
body section.content--two img {
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
}

body section.content--one .text-area,
body section.content--two .text-area {
  padding: 0rem 10rem;
}

body section.content--one .text-area .section--one--header h2,
body section.content--one .text-area .section--two--header h2,
body section.content--two .text-area .section--one--header h2,
body section.content--two .text-area .section--two--header h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 4rem;
  font-weight: bolder;
}

body section.content--one .text-area .section--para p,
body section.content--two .text-area .section--para p {
  color: var(--Dark_grayish_blue);
  font-size: 1.2rem;
  line-height: 1.6;
}

body section.content--one .text-area .section--link,
body section.content--two .text-area .section--link {
  margin-top: 2rem;
}

body section.content--one .text-area .section--link a,
body section.content--two .text-area .section--link a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: bolder;
  color: black;
  -webkit-text-decoration: 5px underline var(--Yellow);
          text-decoration: 5px underline var(--Yellow);
}

@media (max-width: 400px) {
  body section.content--one,
  body section.content--two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body section.content--one .text-area,
  body section.content--one .text-area,
  body section.content--two .text-area,
  body section.content--two .text-area {
    padding: 0rem 10rem;
  }
  body section.content--one .text-area .section--one--header h2,
  body section.content--one .text-area .section--two--header h2,
  body section.content--one .text-area .section--one--header h2,
  body section.content--one .text-area .section--two--header h2,
  body section.content--two .text-area .section--one--header h2,
  body section.content--two .text-area .section--two--header h2,
  body section.content--two .text-area .section--one--header h2,
  body section.content--two .text-area .section--two--header h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: bolder;
  }
  body section.content--one .text-area .section--para p,
  body section.content--one .text-area .section--para p,
  body section.content--two .text-area .section--para p,
  body section.content--two .text-area .section--para p {
    color: var(--Dark_grayish_blue);
    font-size: 1rem;
    line-height: 1.6;
  }
  body section.content--one .text-area .section--link,
  body section.content--one .text-area .section--link,
  body section.content--two .text-area .section--link,
  body section.content--two .text-area .section--link {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  body section.content--one .text-area .section--link a,
  body section.content--one .text-area .section--link a,
  body section.content--two .text-area .section--link a,
  body section.content--two .text-area .section--link a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bolder;
    color: black;
    -webkit-text-decoration: 5px underline var(--Yellow);
            text-decoration: 5px underline var(--Yellow);
  }
}

body section.content--two {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 375px) {
  body section.content--two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body section.content--two .section--link {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  body section.content--two .section--link a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bolder;
    color: black;
    -webkit-text-decoration: 5px underline var(--Soft_red) !important;
            text-decoration: 5px underline var(--Soft_red) !important;
  }
}

body section.content--three--four {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

body section.content--three--four .section--three,
body section.content--three--four .section--four {
  padding: 0rem;
  margin: 0rem;
  -webkit-box-flex: 50% !important;
      -ms-flex: 50% !important;
          flex: 50% !important;
  width: 100%;
}

body section.content--three--four .section--three {
  background-image: url("../images/desktop/image-graphic-design.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  width: 100%;
  position: relative;
}

body section.content--three--four .section--three .text--area {
  padding: 0.5rem 6rem;
  line-height: 1.4;
  position: absolute;
  bottom: 4rem;
  left: calc(width/2);
  text-align: center;
  font-size: 1.4rem;
  color: var(--Very_dark_grayish_blue);
}

body section.content--three--four .section--four {
  background-image: url("../images/desktop/image-photography.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  position: relative;
}

body section.content--three--four .section--four .text--area {
  padding: 0.5rem 6rem;
  position: absolute;
  bottom: 4rem;
  left: calc(width/2);
  text-align: center;
  font-size: 1.4rem;
  color: var(--Very_dark_grayish_blue);
}

@media (max-width: 400px) {
  body section.content--three--four {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
  body section.content--three--four .section--three,
  body section.content--three--four .section--four {
    padding: 0rem;
    margin: 0rem;
    -webkit-box-flex: 50% !important;
        -ms-flex: 50% !important;
            flex: 50% !important;
    width: 100%;
  }
  body section.content--three--four .section--three {
    background-image: url("../images/desktop/image-graphic-design.jpg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    width: 100%;
    position: relative;
  }
  body section.content--three--four .section--three .text--area {
    padding: 0.5rem 3rem;
    line-height: 1.4;
    position: absolute;
    bottom: 4rem;
    left: calc(width/2);
    text-align: center;
    font-size: 1.1rem;
    color: var(--Very_dark_grayish_blue);
  }
  body section.content--three--four .section--four {
    background-image: url("../images/desktop/image-photography.jpg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
  }
  body section.content--three--four .section--four .text--area {
    padding: 0.5rem 3rem;
    position: absolute;
    bottom: 4rem;
    left: calc(width/2);
    text-align: center;
    font-size: 1.1rem;
    color: var(--Very_dark_grayish_blue);
  }
}

body .testimonials--section {
  text-align: center;
  margin: 9rem 1rem;
  padding: 3rem 1rem 4rem 1rem;
}

body .testimonials--section .testimonials--header {
  color: var(--Grayish_blue);
  font-size: 2.3rem;
  text-transform: uppercase;
  margin-bottom: 6rem;
}

body .testimonials--section .testimonials--container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1rem;
}

body .testimonials--section .testimonials--container .person__one,
body .testimonials--section .testimonials--container .person__two,
body .testimonials--section .testimonials--container .person__three {
  padding: 1rem 2rem;
}

body .testimonials--section .testimonials--container .person__one .person__avatar,
body .testimonials--section .testimonials--container .person__two .person__avatar,
body .testimonials--section .testimonials--container .person__three .person__avatar {
  margin-bottom: 2rem;
}

body .testimonials--section .testimonials--container .person__one .person__avatar img,
body .testimonials--section .testimonials--container .person__two .person__avatar img,
body .testimonials--section .testimonials--container .person__three .person__avatar img {
  border-radius: 50%;
}

body .testimonials--section .testimonials--container .person__one .person__comment,
body .testimonials--section .testimonials--container .person__two .person__comment,
body .testimonials--section .testimonials--container .person__three .person__comment {
  font-family: 'Outfit', sans-serif;
  font-size: 1.2rem;
  color: var(--Very_dark_desaturated_blue);
  margin-bottom: 2rem;
  line-height: 1.6;
}

body .testimonials--section .testimonials--container .person__one .person__name p,
body .testimonials--section .testimonials--container .person__two .person__name p,
body .testimonials--section .testimonials--container .person__three .person__name p {
  color: black;
  font-weight: bolder;
  font-size: 1.4rem;
}

body .testimonials--section .testimonials--container .person__one .person__occupation,
body .testimonials--section .testimonials--container .person__two .person__occupation,
body .testimonials--section .testimonials--container .person__three .person__occupation {
  color: var(--Grayish_blue);
}

body .images--gallery {
  margin-top: 3rem;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .images--gallery img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 400px) {
  body .images--gallery {
    margin-top: 3rem;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .images--gallery img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

body footer.footer__area {
  background: var(--Dark_moderate_cyan_footer);
  width: 100%;
  height: 40vh;
  text-align: center;
}

body footer.footer__area .logo {
  padding-top: 2rem;
  margin-bottom: 2rem;
  font-size: 3rem;
  color: var(--Very_dark_grayish_blue);
}

body footer.footer__area nav.footer__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  margin-bottom: 3rem;
}

body footer.footer__area nav.footer__nav ul li {
  padding: 1rem;
  list-style-type: none;
}

body footer.footer__area nav.footer__nav ul li a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: bolder;
  color: var(--Very_dark_grayish_blue);
}

body footer.footer__area ul.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

body footer.footer__area ul.icons li {
  padding: 1rem;
  list-style-type: none;
}

body footer.footer__area ul.icons li a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: bolder;
}
